:root {
    --h: 210;
    --s: 50%;
    --l: 50%;
    --font-family-text: Arial, Helvetica, sans-serif;
    --font-family-title: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --interface-width: 960px;
    --color-text: #333;
    --color-title: hsl(var(--h), var(--s), 30%);
}